body{
    background: #9C835F;
}

.resolusi-gambar{
    max-width: 50%;
  height: auto;
}

.square{
height: 50%;
  width: 50%;
  border-radius: 30px;
}

.center{
display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.dipilih{
    background-color: #C4C4C4;
}

.fontsize-versus{
    font-family: sans-serif;
font-style: normal;
font-weight: bold;
font-size: 144px;
line-height: 196px;
text-align: center;
letter-spacing: 0.1em;
text-transform: uppercase;
color: #BD0000;
}

.posisi-reset{
    position: absolute;
    bottom: 10px;
}

.posisi-versus{
    position: absolute;
    top: 40%;
}

.disembunyikan{
    display: none;
}

.kemiringan{
    height: 15%;
  width: 60%;
  border-radius: 10px;
  background: #4C9654;
  transform: rotate(-30deg);
}

.fontsize-playerwin{
    font-family: sans-serif;
font-style: normal;
font-weight: bold;
font-size: 29px;
text-align: center;
letter-spacing: 0.1em;
text-transform: uppercase;
color: #FFFFFF;
}

