.alas-warna{
    background-color: #080A0B;
}
.background-pertama{
    height: 100vh;
    background-image: url("./assets/main-bg.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    
    
}
.background-navbar-pertama{
    background-color: rgba(0, 0, 0, 0.5);

}

.judul-pertama{
    
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 83px;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #FFFFFF;
    
}

.judul-kedua{
  
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 2px;
  color: #FFFFFF;
}

.warna-orens{
  background: linear-gradient(183.46deg, #FFB548 11.27%, #F3AF34 90.4%);
  border-radius: 4px;
  font-weight: bold;
}

.dilebarin-posisinya{
  width: 14vw;
  height: 7vh;
}

.mt-10{
  margin-top: 30vh;
}


.button-jssss{
  position: absolute;
  left: 40.83%;
  right: 41.09%;
  top: 55.07%;
  bottom: 38.68%;
  background: linear-gradient(183.46deg, #FFB548 11.27%, #F3AF34 90.4%);
  border-radius: 4px;
}

.font-weight-bold{
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 22px;
  text-align: justify;
  text-transform: uppercase;
  color: #FFFFFF;
}

.mt-7{
  margin-top: 30vh;
}

.mb-7{
  margin-bottom: 10rem !important;
}

.background-kedua{
    height: 100vh;
    background-image: url("./assets/the-games-bg.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.konten-2{
  font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;
letter-spacing: 2px;

color: #FFFFFF;
}

.konten-3{
  font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 56px;
line-height: 64px;
letter-spacing: 3px;
text-transform: uppercase;

color: #FFFFFF;
}

.background-ketiga{
  height: 100vh;
  background-image: url("./assets/features.jpg");
    background-size: 80% 100%;
    background-repeat: no-repeat;
}

.mt-8{
  margin-top: 20vh;
}

.width-gunting{
  height: 50vh;
}

.konten-ketiga-1{
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 2px;
  color: #ffffff
}

.konten-ketiga-2{
  font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 56px;
line-height: 64px;
letter-spacing: 3px;
text-transform: uppercase;
color: #FFFFFF;
}

.konten-ketiga-3{
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 2px;
  color: #FFB548;
}

.konten-ketiga-4{
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: justify;
  color: #FFFFFF;
}

.konten-ketiga-5{
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 2px;
  color: #FFB548;
}

.konten-ketiga-6{
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 2px;
  color: #FFB548;
}

.background-keempat{
  height: 100vh;
  background-image: url("./assets/requirements.png");
  background-size: 100% 120%;
  background-repeat: no-repeat;
}

.konten-4-1{
  font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 16px;
letter-spacing: 2px;
color: #FFFFFF;
position: absolute;
}

.width-sq{
  margin-left: 40vw;
  margin-right: 40vw;
}

/* .text-story{
  position: absolute;
  bottom: 10px;
  right: 45%;
} */

.konten-4-2{
  font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 56px;
line-height: 64px;
letter-spacing: 3px;
text-transform: uppercase;
color: #FFFFFF;
}

.konten-4-3-1{
  font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;
letter-spacing: 2px;
color: #FFB548;
}

.konten-4-3-2{
  font-family: Arial, Helvetica, sans-serif;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 22px;
color: #FFFFFF;
}

.background-kelima{
  height: 100vh;
  background-image: url("./assets/top-score-bg.png");
  background-size: 100% 80%;
  background-repeat: no-repeat;
}

.TOP-SCORES-1{
  font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 56px;
line-height: 64px;
letter-spacing: 3px;
text-transform: uppercase;

color: #FFFFFF;
}

.TOP-SCORES-2{
  font-family: Arial, Helvetica, sans-serif;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 22px;
color: #FFFFFF;
}

.digeser-posisinya{
  margin-left: 10vw;
}

.profile-pic{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #979797;
}

.img-twitter{
  width: 20px;
  height: 20px;
}

.card-tittle.card-name{
  letter-spacing: 2px;
  color: #ffb548;
  margin-bottom: 0rem;
}

.card.bg-dark{
  min-width: 300px;
  max-width: 400px;
  background-color: rgba(255, 255, 255, 0.08);
}

.digeser-kiri{
  margin-right: 20vw;
}
